:root {
  --luxury-gold: #d4af37;
  --luxury-silver: #c0c0c0;
  --dark-silver: #707070;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;

  --bg-dark: #0b0b0b;
  --white: #ffffff;
  --gold: #d4af37;
  --silver: #c0c0c0;
  --purple: #5d3fd3;
  --fake-blue: #101827;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--bg-dark);
}

.wrapper {
  width: 90%;
  max-width: 1440px;
  margin: auto;
}

.greetings {
  color: var(--white);
  background-color: rgba(16, 24, 39, 0.8);
  font-size: 30px;
  text-align: center;
  margin-top: 0;
  font-family: "Arial", sans-serif;
  width: 100%;
  /*max-width: 50%;*/
  padding: 0.5rem;
}

.greetings span {
  color: var(--gold);
  font-family: "Comic Sans MS", sans-serif;
}

.sidebar,
.sidebar-Right {
  display: none;
}

.UV-index_header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(16, 24, 39, 0.8);
}

.UV-index_header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  color: white;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.logo img {
  width: 100%;
  max-width: 60px;
}

.logo h3 span:nth-child(1) {
  color: var(--gold);
}

.logo h3 span:nth-child(2) {
  color: var(--silver);
  font-family: "Comic Sans MS", sans-serif;
}

.UV-index_header_navBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.UV-index_header_navBar {
  width: fit-content;
}

/*.UV-index_header_navBar_menu {*/
/*  position: absolute;*/
/*  background: var(--fake-blue);*/
/*  padding: 1.5rem;*/
/*  gap: 3rem;*/

/*  display: none;*/
/*  opacity: 0;*/
/*  !*transform: translateX(100%);*!*/
/*  transition: all 0.3s ease;*/
/*  top: 3.7rem;*/
/*  right: 5rem;*/

/*  left: 0;*/
/*  height: 100vh;*/
/*  width: 80%;*/
/*  background: var(--fake-blue);*/
/*  z-index: 999;*/

/*}*/
.UV-index_header_navBar_menu {
  display: none;
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  background: #000;
  color: white;
  z-index: 999;
  flex-direction: column;
  padding: 2rem;
}

.UV-index_header_navBar .UV-index_header_navBar_menu img {
  width: 100%;
  max-width: 100px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.UV-index_header_navBar_menu ul li:first-child {
  margin-top: 2rem;
}

.UV-index_header_navBar_menu ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.UV-index_header_navBar_menu ul li a svg {
  display: none;
  fill: var(--gold);
}

.UV-index_header_navBar_menu ul li a:hover svg {
  display: block;
}

.UV-index_header_navBar_menu div:first-child {
  position: relative;
}

.UV-index_header_navBar_menu div:first-child span {
  position: absolute;
  top: -4.5rem;
  right: -5.2rem;
}

/*.UV-index_header_navBar_menu.active {*/
/*  display: block;*/
/*  opacity: 1;*/
/*  pointer-events: auto;*/
/*  transform: translateX(0%);*/
/*}*/
/*/*.UV-index_header_navBar:hover .UV-index_header_navBar_menu {*/
/*.UV-index_header_navBar .UV-index_header_navBar_menu.active {*/
/*  display: flex;!important;*/
/*  flex-direction: column;*/
/*  animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;*/
/*}*/

.UV-index_header_navBar_menu.active {
  display: flex;
}

.hamburger {
  z-index: 1000;
  cursor: pointer;
}

.hamburger.hidden {
  display: none;
}

.UV-index_header_navBar_menu {
  display: none;
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  background: #000;
  color: white;
  z-index: 999;
  flex-direction: column;
  padding: 2rem;
}

.UV-index_header_navBar_menu.active {
  display: flex;
}

.hamburger {
  z-index: 1000;
  cursor: pointer;
}

.hamburger.hidden {
  display: none;
}

/*.hamburger.hide {*/
/*  display: none;*/
/*}*/

/*.UV-index_header_navBar:hover .hamburger {*/
/*  display: none;*/
/*  !*opacity: 0;*!*/
/*}*/

/*.UV-index_header_navBar:hover .hamburger:hover .hamburger {*/
/*  display: block;*/
/*}*/

.UV-index_header_navBar_menu ul {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  gap: 2rem;
}

.UV-index_header_navBar_menu ul li a {
  color: var(--gold);
  gap: 1rem;
  font-family: "Montserrat", sans-serif;
}

.UV-index_header_navBar_menu ul li a:hover {
  color: var(--purple);
  font-weight: 700;
}

.header_btn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header_btn a {
  display: block;
  text-align: center;
}

.header_btn a:first-child {
  background: transparent;
  display: block;
  border: 1px solid var(--purple);
  color: var(--white);
  outline: none;
  padding: 1rem;
  border-radius: 0.5rem;
}

.header_btn a:first-child:hover {
  background: var(--purple);
}

.header_btn a:nth-child(2) {
  display: block;
  background: var(--white);
  color: var(--purple);
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
}

.header_btn a:last-child:hover {
  background: var(--purple);
  color: var(--white);
}

/*INTRO*/

.UV-index_intro {
  margin-top: 5rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  place-content: center;
  gap: 2rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.UV-index_intro .right h2 {
  display: flex;
  flex-direction: column;
  align-content: center;
  place-content: center;
  justify-content: center;
  font-size: 40px;
  gap: 0.5rem;
  font-family: "American Typewriter", sans-serif;
}

.UV-index_intro .right h2 span:first-child {
  color: var(--white);
}

.UV-index_intro .right h2 span:last-child {
  color: var(--gold);
}

.UV-index_intro .left h3 {
  font-size: 20px;
  font-family: "Arial", sans-serif;
  font-weight: lighter;
  margin-bottom: 1rem;
}

.UV-index_intro .left p {
  color: var(--silver);
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 1rem;
}

.UV-index_intro .left ul li:first-child a {
  width: inherit;
  display: block;
  color: var(--white);
  padding: 1rem;
  border: 2px solid var(--purple);
  outline: none;
  font-weight: 600;
  border-radius: 0.5rem;
}

.UV-index_intro .left ul li:first-child a:hover {
  background: var(--purple);
  color: var(--white);
}

.UV-index_intro .left ul li:last-child a {
  background: var(--white);
  width: inherit;
  display: block;
  color: var(--purple);
  padding: 1rem;
  border: none;
  outline: none;
  font-weight: 600;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.UV-index_intro .left ul li:last-child a:hover {
  background: var(--purple);
  color: var(--white);
}

.UV-index_offers {
  color: var(--white);
  text-align: center;
  margin-top: 6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.UV-index_offers h2 {
  font-size: 30px;
  margin-bottom: 3rem;
  font-family: "American Typewriter", sans-serif;
}

.UV-index_offers .offersSection {
  display: flex;
  width: 100%;
  margin: auto;
  transition: transform 0.5s ease-in-out;
}

.UV-index_offers .offersSection div {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-content: center;
  align-items: center;
  height: 300px;
  background: var(--fake-blue);
  padding: 2rem;
}

.UV-index_offers .offersSection div svg {
  fill: var(--silver);
}

.UV-index_offers .offersSection div h3 {
  color: var(--gold);
  font-size: 25px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.UV-index_offers .offersSection div p {
  color: var(--silver);
}

.UV-index_testimonials {
  margin-top: 5rem;
  font-family: "American Typewriter", sans-serif;
  color: var(--white);
  text-align: center;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonialsSecWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.UV-index_testimonials h2 {
  font-size: 30px;
  margin-bottom: 1rem;
}

.UV-index_testimonials .testimonialsSecWrapper .testimonialsSection {
  background: var(--fake-blue);
  padding: 2rem;
  border-radius: 1rem;
}

.UV-index_testimonials .testimonialsSection img {
  width: 100%;
  max-width: 150px;
  border-bottom-right-radius: 2rem;
}

.UV-index_testimonials .testimonialsSection ul li:nth-child(1) {
  color: var(--silver);
  font-family: "Arial", sans-serif;
  margin-top: 2rem;
}

.UV-index_testimonials .testimonialsSection ul li:nth-child(2) {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--white);
  font-size: 20px;
}

.UV-index_testimonials .testimonialsSection ul li:nth-child(3) {
  color: var(--silver);
}

.UV-index_joinTheUniverseOfLuxury {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  place-content: center;
  gap: 2rem;
  background: var(--fake-blue);
  padding: 2rem;
}

.UV-index_joinTheUniverseOfLuxury h3 {
  color: var(--white);
  font-size: 23px;
}

.UV-index_joinTheUniverseOfLuxury p {
  color: var(--silver);
  text-align: center;
}

.UV-index_joinTheUniverseOfLuxury a {
  display: block;
  background: var(--white);
  padding: 1rem;
  color: var(--purple);
  width: 100%;
  text-align: center;
  border-radius: 0.5rem;
  font-weight: 600;
}

.footer {
  margin-top: 3rem;
  color: var(--white);
}

.footer .logo {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.footer_flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-content: center;
  gap: 2.5rem;
}

.footer_flex ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer_flex ul li:nth-child(1) {
  font-family: "Arial", sans-serif;
}

.footer_flex ul li:nth-child(2) a,
.footer_flex ul li:nth-child(3) a,
.footer_flex ul li:nth-child(4) a,
.footer_flex ul li:nth-child(5) a {
  display: block;
  color: var(--silver);
}

.footer_flex ul li:nth-child(2) a:hover,
.footer_flex ul li:nth-child(3) a:hover,
.footer_flex ul li:nth-child(4) a:hover,
.footer_flex ul li:nth-child(5) a:hover {
  color: var(--gold);
  font-weight: 500;
}

.footer_flex ul:last-child li {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
  align-items: center;
  flex-direction: row;
}

.footer_flex ul:last-child li a svg:hover path {
  display: block;
  fill: var(--gold);
}

.footer section:nth-child(2) {
  background: var(--fake-blue);
  margin-top: 2.5rem;
  padding: 1rem;
}

.footer section:nth-child(2) ul {
  display: flex;
  align-items: center;
  place-content: center;
  justify-content: space-between;
}

.footer section:nth-child(2) ul li:nth-child(2) {
  font-family: "Academy Engraved LET", sans-serif;
  text-align: center;
  font-size: 13px;
}

.footer section:nth-child(2) ul li:nth-child(1) span:first-child,
.footer section:nth-child(2) ul li:nth-child(3) span:first-child {
  color: var(--gold);
}

.footer section:nth-child(2) ul li:nth-child(1) span:last-child,
.footer section:nth-child(2) ul li:nth-child(3) span:last-child {
  color: var(--silver);
}

/*LANDING PAGE*/
.hero-slideshow {
  min-height: 80vh;
  position: relative;
}

.slideshow-container {
  position: relative;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.slide.active {
  opacity: 1;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(212, 175, 55, 0.3);
}

.nav-link:hover {
  color: #d4af37 !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.py-16 {
  background: var(--bg-dark);
}

.p-6 {
  background: var(--fake-blue);
}

.p-6 h3 {
  color: var(--gold);
}

.p-6 p {
  color: var(--white);
}

/*****SIGN UP*****/
.UV-signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  place-content: center;
  height: 100vh;
}

.UV-signUp .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  place-content: center;
}

.UV-signUp header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.UV-signUp header span img {
  width: 55px;
  margin-right: -1rem; !important;
}

.UV-signUp header h3 {
  font-size: 30px;
  cursor: pointer;
}

.UV-signUp header h3 span:first-child {
  color: var(--gold);
  font-family: "Arial", sans-serif;
}

.UV-signUp header h3 span:last-child {
  color: var(--silver);
  font-family: "Comic Sans MS", sans-serif;
}

.UV-signUp .intro {
  text-align: center;
  margin-top: 2rem;
}

.UV-signUp .intro h4 {
  color: var(--gold);
  margin-bottom: 0.5rem;
}

.UV-signUp .intro p {
  color: var(--white);
}

.UV-signUp form {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
}

.UV-signUp form label input {
  padding: 0.7rem;
  width: 100%;
  outline: none;
  border: none;
  color: var(--bg-dark);
  border-radius: 0.5rem;
}

/*.UV-signUp form label:nth-child(2) input, */
.UV-signUp form label:nth-child(2) a {
  padding: 0.7rem;
  background: var(--purple);
  color: var(--white);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 13px;
  border-radius: 0.5rem;
}

/*.UV-signUp form label:nth-child(2) input:hover, */
.UV-signUp form label:nth-child(2) a:hover {
  background: var(--gold);
  color: var(--white);
  font-weight: 500;
}

.UV-signUp form label:nth-child(3) {
  text-align: center;
}

.UV-signUp form label:nth-child(3) span {
  color: var(--gold);
  font-size: 14px;
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.UV-signUp form label:nth-child(3) span:before {
  content: "";
  background: var(--silver);
  padding: 0.1rem;
  width: 100%;
  transform: scaleY(0.3);
}

.UV-signUp form label:nth-child(3) span:after {
  content: "";
  background: var(--silver);
  padding: 0.1rem;
  width: 100%;
  transform: scaleY(0.3);
}

.UV-signUp form label:nth-child(4) a:first-child,
.UV-signUp form label:nth-child(5) a:first-child {
  padding: 0.7rem;
  background: var(--white);
  color: var(--bg-dark);
  text-align: center;
  width: 100%;
  display: flex;
  font-size: 13px;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  font-weight: 500;
  border-radius: 0.5rem;
}

.UV-signUp form label a:first-child:hover {
  background: var(--gold);
  color: var(--white);
  font-weight: 500;
}

.UV-signUp .wrapper div:last-child p {
  color: var(--silver);
  display: block;
  gap: 4px;
  text-align: center;
  margin: 1rem auto;
}

.UV-signUp .wrapper div:last-child p a {
  color: var(--gold);
}

/***KEY FRAMES***/
. @keyframes slide-in-blurred-top {
  0% {
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 0;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 1024px) {
  .lg\:grid-cols-4 {
    display: flex;
  }
}

@media screen and (min-width: 920px) {

  .UV-index_intro .left ul {
    display: flex;
    align-items: baseline;
    gap: 1rem;
    justify-content: center;
    place-content: center;
  }

  .UV-index_intro .left ul li {
    width: 100%;
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .UV-index_header {
    display: none;
  }

  main,
  footer,
  .wyn {
    margin-left: 300px;
    padding: 1px 0 1px 0;
  }

  .sidebar {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
    max-width: 300px;
    background-color: var(--fake-blue);
    position: fixed;
    height: 100%;
    overflow: auto;
    z-index: 1000;
    box-shadow: 0 0 2px var(--gold);
    -webkit-animation: scale-in-ver-bottom 0.5s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-in-ver-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
  }

  .sidebar-Right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-content: center;
    align-items: center;
    width: fit-content;
    float: right;
    max-width: 300px;
    height: 100vh;
    overflow: auto;
    z-index: 1000;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-animation: scale-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: scale-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .sidebar-Right ul {
    background-color: var(--fake-blue);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-top-left-radius: 1rem;
    box-shadow: 0 0 10px var(--gold);
    border-bottom-left-radius: 1rem;
  }

  .sidebar-Right ul li a svg:hover path {
    fill: var(--white);
  }

  .sidebar .logo {
    margin-top: 3rem;
    justify-content: center;
  }

  .sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: left;
  }

  .sidebar ul:last-child {
    margin-bottom: 2rem;
  }

  .sidebar ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
  }

  .sidebar ul li:first-child {
    color: var(--white);
    font-size: 20px;
    font-family: "Comic Sans MS", cursive;
  }

  .sidebar ul li a {
    display: flex;
    color: var(--gold);
    align-items: center;
    gap: 1rem;
  }

  .sidebar ul li a:hover {
    color: var(--white);
    font-weight: 550;
  }

  .sidebar ul li a svg:last-child {
    opacity: 0;
  }

  .sidebar ul li a:hover svg {
    opacity: 1;
  }

  .UV-index_intro {
    flex-direction: row-reverse;
    align-items: center;
    gap: 3rem;
  }

  .UV-index_intro .right h2 {
    font-size: 50px;
  }

  .UV-index_intro .left {
    width: 100%;
    max-width: 500px;
  }

  .UV-index_offers {
    max-width: none;
  }

  .testimonialsSecWrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }

  .testimonialsSection {
    max-width: 320px;
  }

  .UV-index_testimonials h2 {
    margin-bottom: 4rem;
  }

  .footer {
    margin-top: 5rem;
  }

  .footer .wrapper {
    justify-content: center;
    gap: 3rem;
    align-items: center;
    flex-direction: row;
  }

  .footer .wrapper .logo {
    font-size: 30px;
  }

  .footer .wrapper .footer_flex {
    flex-direction: row-reverse;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
  }

  .footer .wrapper .footer_flex ul li b {
    font-size: 17px;
  }
}

@keyframes scale-in-right {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    opacity: 1;
  }
}

@-webkit-keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    opacity: 1;
  }
}
